*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.conMelhores{
  background-color:#ffffff;
  width: calc(100vw - padding);
  height: 99vh;
  flex-direction: row;
  justify-content: center;
  padding: 1.2em;
  margin: 0 auto;
}

.conIdeiasPlastico{
  background-color:#ffffff;
  width: calc(100vw - padding);
  height: 99vh;
  flex-direction: row;
  justify-content: center;
  padding: 1.2em;
  margin: 0 auto;
}

.cardMelhores {
    grid-column: span 4;
    border: none;
    padding: 2px;
    background-color: #ffffff;
    text-align: center;
}

.card-imgMelhores {
  border-radius: 1vh; 
  box-shadow: 2px 2px 4px black;
}

.card-bodyM{
  background-color: #ffffff;
  border: #F4F4F4;
}

.tituloPreto{
  color:black;
  font-size: 9vh; 
  font-family: 'Nunito', sans-serif;
}

.tituloVermelho{
  color:#B30000;
  font-size: 9vh; 
  font-family: 'Nunito', sans-serif;
  margin-left: 15vh;
}


@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
}
.carousel-inner{
  padding: 1em;
}
.card{
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev, .carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-height: 100%;
}

/*----------------height------------------*/

.h1{
  height: 1vh;
}

.h5{
  height: 5vh;
}

.h10{
  height: 10vh;
}

.h15{
  height: 15vh;
}

.h20{
  height: 20vh;
}

.h30{
  height: 30vh;
}

.h40{
  height: 40vh;
}

.h50{
  height: 50vh;
}